/* #songtable {
    margin: 50px;
  }
  p {
   margin: 20px 0; 
  }

  /* 
  Generic Styling, for Desktops/Laptops 
  */
  /* table { 
      width: 100%; 
      border-collapse: collapse; 
  } */
  /* Zebra striping */
  /* tr:nth-of-type(odd) { 
      background: #eee; 
  }
  th { 
      background: #333; 
      color: white; 
      font-weight: bold; 
      cursor: s-resize;
      background-repeat: no-repeat;
      background-position: 3% center;
  }
  td, th { 
      padding: 6px; 
      border: 1px solid #ccc; 
      text-align: left; 
  }
  
  th.des:after {
    content: "\21E9";
  }
  
  th.aes:after {
    content: "\21E7";
  } */

#songtable {
  height: 700px;
  overflow: auto;
  font-family: monospace;
}

/* #songtable th {
  
} */

#songtable thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: gray;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#songtable tbody td {
  text-align: left;
  border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 15px;
	vertical-align: top;
  border-bottom: 0.5px solid lightgray;
}

.clickable-row:hover,.clickable-row.highlight  {
  background: rgb(224, 224, 224);
  cursor: pointer;
}

#genretable {
  height: 700px;
  overflow: auto;
  font-family: monospace;
}

/* #songtable th {
  
} */

#genretable thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: gray;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#genretable tbody td {
  text-align: left;
  border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 15px;
	vertical-align: top;
  border-bottom: 0.5px solid lightgray;
}

/* .infocard-header {
  padding: 10px;
  border-radius: 5px 5px 0 0;
  height: 30px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    );
}

.infocard-body {
  display: grid;
  padding: 15px;
  padding-bottom: 0px;
  height: 210px;
  margin-bottom: 20px;
} */

/* #songtable tbody tr:nth-child(even) {
  background: green;
}

#songtable tbody tr:nth-child(odd) {
  background: darkslategray
} */

.dropdown {
  margin: 1rem;
}

#force {
  border-radius: 0.1rem;
  border-color: white;
  border-style: solid;
  border-width: 0.1rem;
  /* width: 50vw; */
  height: 70vh;
}