.musictables {
  height: 700px;
  overflow: auto;
  font-family: monospace;
  scrollbar-color: #75777a #212529;
}

.musictables thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: gray;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.musictables tbody td {
  text-align: left;
  border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 5px 5px 5px 5px;
	font-size: 12px;
	vertical-align: top;
  border-bottom: 0.5px solid lightgray;
}

.musictables table {
  width: 100%;
}

.clickable-row:hover,.clickable-row.highlight  {
  background: rgb(224, 224, 224);
  cursor: pointer;
}


/* .infocard-header {
  padding: 10px;
  border-radius: 5px 5px 0 0;
  height: 30px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    );
}

.infocard-body {
  display: grid;
  padding: 15px;
  padding-bottom: 0px;
  height: 210px;
  margin-bottom: 20px;
} */

/* #songtable tbody tr:nth-child(even) {
  background: green;
}

#songtable tbody tr:nth-child(odd) {
  background: darkslategray
} */

#firstRow {
  margin-bottom: 0.5rem;
}

#force {
  border-radius: 0.1rem;
  border-color: white;
  border-style: solid;
  border-width: 0.1rem;
}

.secondRowTitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}